.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-width);
    background-image: url(../img/background_01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image 0.7s ease-in-out;
}

.header, .content, .footer {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    max-width: var(--max-width);
}